<div class="hero-container">

  <div class="centered-logo">

    <div class="glitch"
      style="background-image: url('{{ page.hero_image | absolute_url }}');">
      <div class="glitch__img"
        style="background-image: url('{{ page.hero_image | absolute_url }}');">
      </div>
      <div class="glitch__img"
        style="background-image: url('{{ page.hero_image | absolute_url }}');">
      </div>
      <div class="glitch__img"
        style="background-image: url('{{ page.hero_image | absolute_url }}');">
      </div>
      <div class="glitch__img"
        style="background-image: url('{{ page.hero_image | absolute_url }}');">
      </div>
      <div class="glitch__img"
        style="background-image: url('{{ page.hero_image | absolute_url }}');">
      </div>
      <div class="glitch__img"
        style="background-image: url('{{ page.hero_image | absolute_url }}');">
      </div>
    </div>

    <h1>Coming soon<span>.</span></h1>
  </div>
</div>