@import "colors";

.hero-container {
  display: flex;
  align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	margin: 4em 0;
	padding: 0 4em;
}

.hero-container img {
	width: 30%;
}

.citation {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

#first-part {
  animation: showup 7s 1 forwards;
}

#second-part {
  width: 0px;
  animation: reveal 7s 1 forwards;
}

#second-part > span {
  margin-left: -330px;
	animation: slidein 7s 1 forwards;
}

@keyframes showup {
    0% {opacity:0; color: $primary-color;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:1; color: $secondary-color;}
}

@keyframes slidein {
    0% { margin-left: -800px; }
    20% { margin-left: -800px; }
    35% { margin-left: -20px; }
    100% { margin-left: -20px; }
}

@keyframes reveal {
    0% {opacity: 0;width: 0px; color: $mixed-color;}
    20% {opacity: 1;width: 0px;}
    30% {width: 330px;}
    80% {opacity: 1;}
    100% {opacity: 1;width: 330px; color: $primary-color;}
}
