.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  &:hover {
    font-weight: bolder;
    img {
      box-shadow: $box-shadow-color;
    }
  }

  .social {
    margin: 1em 0;
  }


  a {
    text-decoration: none;
  }

  i {
    width: 20px;
  }

  svg:hover {
    stroke-width: 3px;
  }
}

.member-pic {
  width: 200px;
  border-radius: 100%;
  background-color: #fff;
}