@import "colors";

body {
  font-family: "Vision Light";
  font-size: 16px;
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $primary-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Vision Black";

  &.uppercase {
    text-transform: uppercase;
  }

  &.underlined {
    border-bottom: 2px solid #fff;
  }
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-bottom: 0;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child {
  margin-top: 0;
}


h1 {
  font-size: 3em;
  line-height: 1.125em;
}

h2 {
  font-size: 1.75em;
  line-height: 1.25em;
}

h3 {
  font-size: 1.5em;
  line-height: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1.125em;
}

h6 {
  font-size: 1em;
}

b {
  font-family: "Vision Bold";
  color: $mixed-color;
}

i {
  font-family: "Vision Regular Italic";
}

.title {
  font-size: -webkit-xxx-large;
}

.centered {
  text-align: center;
}

.subtitle {
  font-family: "Vision Thin Italic";
}