---
---

@import "fonts";
@import "typography";
@import "link";
@import "colors";
@import "media-queries";

@import "nav";
@import "section";
@import "angled-background";
@import "hero";
@import "footer";

@import "twitch";
@import "staff";
@import "staff-member";
@import "player-stats";

* {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: auto;
}

main {
  flex: 1;

  .main-container {
    position: relative;
    top: $angled-background-height;
    margin: 6em 0 -6em 0;
  }
}

.grid-auto-fit {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 300px));
  grid-gap: 1em 5em;
  justify-content: center;
  align-items: baseline;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

@media (min-width: $mobile) {
  .container {
    width: 90%;
  }
}

@media (min-width: $desktop) {
  .container {
    width: 100%;
  }
}
