---
---

@import "fonts";
@import "typography";
@import "link";
@import "colors";
@import "media-queries";

@import "nav";
@import "hero";
@import "footer";

@import "twitch";
* {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: auto;
}

main {
  flex: 1;
}

section {
  padding: 1em 2em;
}

section {
  p {
    white-space: pre-line;
  }
}